@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: 'Roboto';
  background-color: #e0e0ce;
  color: #000000;
}

.form {
  margin: 30px auto;
}

#basic-addon1, #basic-addon2 {
  cursor: default;
}

.panel {
  background-color: #e0e0ce;
}

.row {
  padding: 10px;
  border-radius: 25px;
  margin:5px;
  
}

/* For small screen */
.row:nth-child(even) {
  background-color: #f2af29;
}
.row:nth-child(even) > a {
  color: #ad343e;
}
.row:nth-child(odd) {
  background-color: #ad343e;
}
.row:nth-child(odd) > a {
  color: #f2af29;  
}

a:hover {
  color: #353446;
  text-decoration: none;
}